/InternetShop/.vs
/InternetShop/InternetShop/bin
/InternetShop/Database.ldf
/InternetShop/Database.mdf
/InternetShop/BuisnesLogic/bin
/InternetShop/Common/bin
/InternetShop/DataAccesLayer/bin
/InternetShop/DependencyInjection/bin
/InternetShop/Logger/bin
/InternetShop/InternetShop/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/InternetShop/Common/obj/Debug
